$mainOffset: 15; // отступы безопасности для контейнера
$maxWidth: 1920; // максимальная ширина страницы
$minWidth: 320; // минимальная ширина телефона
$containerWidth: 1320; // ширина контейнера из макета
$maxWidthContainer: $containerWidth + ($mainOffset * 2); // ширина контейнера с учетом padding слева и справа

$headerHeight: 100px;
$footerHeight: 100px;

:root {
  --bs-font-family: 'Montserrat', sans-serif; // Семейство шрифта по умолчанию
  --bs-font-size: 34px; // Размер шрифта по умолчанию
  --bs-font-weight: 500; // Жирность шрифта по умолчанию
  --bs-line-height: 1.2; // Базовая высота шрифта
  --bs-font-color: #fff; // Цвет шрифта по умолчанию
  --bs-transition: .3s ease-in-out;
  --bs-radius: 10px;

  --primary-color: #D0833B;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #C5C9CC;
  --white-color: #fff;
  --black-color: #000;

  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%),
                  0 0 10px 0 rgba(#000, 10%),
                  0 0 15px 0 rgba(#000, 10%);
}